<nav class="navbar navbar-expand-lg navbar-light p-3"> <!-- nav-bar-light: cor do texto (preto) -->
    <a class="navbar-brand" href="/">
        <img src="/img/techblog-logo.png" alt="Tech Blog" width="80px" height="80px">
    </a>

    <ul class="navbar-nav mr-auto">
        
        <li class="nav-item d-inline-block border border-1 border-info mr-3"> <!-- -->
            <a class="nav-link text-white" href="/">Home</a>
        </li>

        <% categories.forEach(category => { %>
            <li class="nav-item d-inline-block border border-1 border-info ml-2"> <!-- -->
                <a class="nav-link text-white" href="/"><%= category.title %></a>
            </li>
        <% }) %>

    </ul>
</nav>