<nav class="nav-bar navbar-light mb-3 p-3"> <!-- nav-bar-light: cor do texto (preto) -->
    <a class="navbar-brand" href="/"> <!-- nav-bar-brand - Alinha logo à esquerda -->
        <p><img src="/img/techblog-logo.png" alt="Tech Blog" width="80px" height="80px"> Descomplicando a tecnologia</p> 
   
    </a>
</nav>