<nav class="nav-bar navbar-light mb-3"> <!-- nav-bar-light: cor do texto (preto) -->
    <a class="navbar-brand" href="/"> <!-- nav-bar-brand - Alinha logo à esquerda -->
        <img src="/img/ask-linux-logo.png" alt="Ask Linux">
    </a>
</nav>