<nav class="navbar navbar-expand-lg navbar-light p-3"> <!-- nav-bar-light: cor do texto (preto) -->
    <a class="navbar-brand" href="/">
        <img src="/img/techblog-logo.png" alt="Tech Blog" width="80px" height="80px">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item d-inline-block border border-1 border-info"> <!-- -->
            <a class="nav-link text-white" href="/admin/categories">Categorias</a>
        </li>

        <li class="nav-item d-inline-block border border-info ml-2">
            <a class="nav-link text-white" href="/admin/articles">Artigos</a>
        </li>

        <li class="nav-item d-inline-block border border-info ml-2">
            <a class="nav-link text-white" href="/admin/articles/new">Criar artigo</a>
        </li>

        <li class="nav-item d-inline-block border border-info ml-2">
            <a class="nav-link text-white" href="/admin/users/create">Criar Usuário</a>
        </li>
    </ul>


    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-inline-block border border-info ml-2">
            <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
    </ul>
</nav>