<nav class="nav-bar navbar-light"> <!-- nav-bar-light: cor do texto (preto) -->
    <a class="navbar-brand" href="/"> <!-- nav-bar-brand - Alinha logo à esquerda -->
        <img src="/img/techblog-logo.png" alt="Tech Blog" width="80px" height="80px">Teste
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>

</nav>