@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

nav {
    background-color: rgb(32, 32, 32);
    font-family: 'Share Tech Mono', monospace;
}

.navbar-brand {
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
}

body {
    font-family: 'Share Tech Mono', monospace;
}

.p-article {
    font-family: Arial;
}